<div class="component_box get_operaciones" id="get_operaciones">
    <div class="search_container"></div>
        <h2>Consultar operaciones</h2>
            <div class="search_container">
                <form class="search_form" method="GET" th:action="@{/cuentas/getOperaciones}">
                    <input class="search" type="text" name="id" placeholder="ID de la cuenta" />
                    <input class="search-btn" type="submit" value="" />
                </form>
            </div>
    </div>        
    <div class="table_container">
        <div class="table">
            <ul>
                <li class="table-header">
                    <div>valor</div>
                    <div>Tipo</div>
                    <div>fecha</div>
                    <div>Cuenta destino</div>
                    <div>Punto atencion</div>
                </li>
                <th:block th:each="operacion : ${operaciones}">
                    <li class="table-content">
                        <div th:text="${operacion.valor}"></div>
                        <div th:text="${operacion.tipo}"></div>
                        <div th:text="${operacion.fecha}"></div>
                        <div th:text="${operacion.cuentaDestino ?: 'N/A'}"></div>
                        <div th:text="${operacion.puntoAtencion}"></div>
                    </li>
                </th:block>
            </ul>
        </div>

    </div>
</div>