<!DOCTYPE html>
<html>

<head>
    <title>Fragmento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>
    <div class="container border border-2 w-25 my-3" th:fragment="cuentaForm(titulo)">
        <h1 class="text-center" th:text="${titulo}"></h1>
    
    <form>
        
        <div class="mb-3">
            <label for="TIPOCUENTA">Tipo:</label>
            <select class="form-control" id="TIPOCUENTA" name="TIPOCUENTA" required>
                <option value="Ahorros" th:selected="${cuenta.TIPOCUENTA eq 'Ahorros'}">Ahorros</option>
                <option value="Corriente" th:selected="${cuenta.TIPOCUENTA eq 'Corriente'}">Corriente </option>
                <option value="AFC" th:selected="${cuenta.TIPOCUENTA eq 'AFC'}">AFC</option>
            </select>
        </div>

        <label class="col-form-label" for="IDCLIENTE">Cliente:</label>
        <select class="form-control" id="IDCLIENTE" name="IDCLIENTE" required> 
            <th:block th:each="cliente: ${clientes}">
                <option th:value="${cliente.IDCLIENTE}" th:text="${cliente.IDCLIENTE}" th:selected="${cliente != null && cliente.IDCLIENTE != null && cliente.IDCLIENTE == cuenta.IDCLIENTE}" >
                </option>
            </th:block>
        </select><br>

        <div class="mb-3">
            <label for="SALDO" class="form-label">Saldo:</label>
            <input class="form-control" type="number" id="SALDO" name="SALDO" required th:value="${cuenta.SALDO}">
        </div>

        <div class="mb-3">
            <label for="FECHAULTIMATRANSACCION" class="form-label">Fecha Última Transacción:</label>
            <input class="form-control" type="date" id="FECHAULTIMATRANSACCION" name="FECHAULTIMATRANSACCION" required th:value="${cuenta.FECHAULTIMATRANSACCION}">
        </div>

        <div class="mb-3">
            <label for="ESTADOCUENTA">Tipo:</label>
            <select class="form-control" id="ESTADOCUENTA" name="ESTADOCUENTA" required>
                <option value="Activa" th:selected="${cuenta.ESTADOCUENTA eq 'Activa'}">Activada</option>
            </select>
        </div>

        <label class="col-form-label" for="IDGERENTE">ID del Gerente de la Oficina:</label>
        <select class="form-control" id="IDGERENTE" name="IDGERENTE" required> 
            <th:block th:each="IDgerente : ${gerentes}">
                <option th:value="${IDgerente}" th:text="${IDgerente}" >
                </option>
            </th:block>
        </select>


        <div class="d-flex justify-content-between">
            <input type="submit" value="Guardar" class="btn btn-primary">
            <a th:href="@{/usuariosEmpleados}" class="btn btn-primary">Cancelar</a>
        </div>
    </form>
    </div>

</body>

</html>