<!DOCTYPE html>
<html>

<head>
    <title>Fragmento</title>

</head>

<body>

    <div th:fragment="identificacionForm(titulo)" class="container border border-2 w-25">
        <h1 th:text="${titulo}"></h1>
        <form>
            <label for="TIPO">TIPO:</label>
            <select class="form-control" id="TIPO" name="TIPO" required>
                <option value="CC" th:selected="${identificacion.TIPO eq 'CC'}">CC (Cedula de Ciudadania)</option>
                <option value="TI" th:selected="${identificacion.TIPO eq 'TI'}">TI (Tarjeta de Identidad) </option>
                <option value="RC" th:selected="${identificacion.TIPO eq 'RC'}">RC (Registro Civil)</option>
                <option value="CE" th:selected="${identificacion.TIPO eq 'CE'}">CE (Cedula de Extranjería)</option>
            </select>
            <br>
            <label for="NUMERO">Numero:</label>
            <input class="form-control" type="number" id="NUMERO" name="NUMERO" required th:value="${identificacion.NUMERO}">
            <div class="btn-container">
                <input type="submit" value="Guardar" class="btn btn-primary">
                <a th:href="@{/usuariosEmpleados}" class="btn btn-cancelar">Cancelar</a>
            </div>
        </form>
    </div>

</body>

</html>
