<!DOCTYPE html>
<html>

<head>
    <title>Fragmento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>
    <div class="container border border-2 w-25 my-3" th:fragment="opTranForm(titulo)">
        <h1 class="text-center" th:text="${titulo}"></h1>
    
    <form>
       

        <div class="mb-3">
            <label for="MONTO" class="form-label">Monto:</label>
            <input class="form-control" type="number" id="MONTO" name="MONTO" required step = "0.01" th:value="${opTran.MONTO}">
        </div>

        <label class="col-form-label" for="IDCUENTAORIGEN">ID Cuenta Origen:</label>
        <select class="form-control" id="IDCUENTAORIGEN" name="IDCUENTAORIGEN" required> 
            <th:block th:each="cuenta : ${cuentas}">
                <option th:value="${cuenta.IDCUENTA}" th:text="${cuenta.IDCUENTA}"  >
                </option>
            </th:block>
        </select><br>

        <label class="col-form-label" for="IDCUENTADESTINO">ID Cuenta Destino:</label>
        <select class="form-control" id="IDCUENTADESTINO" name="IDCUENTADESTINO" required> 
            <th:block th:each="cuenta : ${cuentas}">
                <option th:value="${cuenta.IDCUENTA}" th:text="${cuenta.IDCUENTA}"  >
                </option>
            </th:block>
        </select><br>

        <div class="mb-3">
            <label for="FECHA" class="form-label">Fecha de la Operación:</label>
            <input class="form-control" type="date" id="FECHA" name="FECHA" required th:value="${opTran.FECHA}">
        </div>

        <label class="col-form-label" for="IDPUNTOATENCION">ID Punto de Atención:</label>
        <select class="form-control" id="IDPUNTOATENCION" name="IDPUNTOATENCION" required> 
            <th:block th:each="punto : ${puntosAtencion}">
                <option th:value="${punto.IDPUNTOATENCION}" th:text="${punto.IDPUNTOATENCION}"  >
                </option>
            </th:block>
        </select><br>


        <div class="d-flex justify-content-between">
            <input type="submit" value="Guardar" class="btn btn-primary">
            <a th:href="@{/usuariosEmpleados}" class="btn btn-primary">Cancelar</a>
        </div>
    </form>
    </div>

</body>

</html>