<!DOCTYPE html>
<html>

<head>
    <title>Fragmento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>
    <div class="container border border-2 w-25 my-3" th:fragment="prestamoForm(titulo)">
        <h1 class="text-center" th:text="${titulo}"></h1>
    
    <form>

        <div class="mb-3">
            <label for="MONTO" class="form-label">Monto:</label>
            <input class="form-control" type="number" id="MONTO" name="MONTO" th:value="${prestamo.MONTO}">
        </div>
        <div class="mb-3">
            <label for="INTERES" class="form-label">Interés:</label>
            <input class="form-control" type="number" id="INTERES" name="INTERES" required step = "0.01" th:value="${prestamo.INTERES}">
        </div>
        <div class="mb-3">
            <label for="NUMEROCUOTAS" class="form-label">Numero de Cuotas:</label>
            <input class="form-control" type="number" id="NUMEROCUOTAS" name="NUMEROCUOTAS" required th:value="${prestamo.NUMEROCUOTAS}">
        </div>
        <div class="mb-3">
            <label for="DIAPAGOCUOTA" class="form-label">Dia pago de la cuota:</label>
            <input class="form-control" type="date" id="DIAPAGOCUOTA" name="DIAPAGOCUOTA" required th:value="${prestamo.DIAPAGOCUOTA}">
        </div>
        <div class="mb-3">
            <label for="VALORCUOTA" class="form-label">Valor de la cuota:</label>
            <input class="form-control" type="number" id="VALORCUOTA" name="VALORCUOTA" required step = "0.01" th:value="${prestamo.VALORCUOTA}">
        </div>

        <div class="mb-3">
            <label for="ESTADOP">Tipo:</label>
            <select class="form-control" id="ESTADOP" name="ESTADOP">
                <option value="Solicitado" th:selected="${prestamo.ESTADOP eq 'Solicitado'}">Solicitado</option>
                <option value="Aprobado" th:selected="${prestamo.ESTADOP eq 'Aprobado'}">Aprobado</option>
                <option value="Rechazado" th:selected="${prestamo.ESTADOP eq 'Rechazado'}">Rechazado</option>
                <option value="Pagado" th:selected="${prestamo.ESTADOP eq 'Pagado'}">Pagado</option>
                <option value="Cerrado" th:selected="${prestamo.ESTADOP eq 'Cerrado'}">Cerrado</option>

            </select>
        </div>

        <label class="col-form-label" for="IDCLIENTE">ID Cliente:</label>
        <select class="form-control" id="IDCLIENTE" name="IDCLIENTE" required> 
            <th:block th:each="cliente : ${clientes}">
                <option th:value="${cliente.IDCLIENTE}" th:text="${cliente.IDCLIENTE}" th:selected="${prestamo != null && prestamo.IDCLIENTE != null && prestamo.IDCLIENTE == cliente.IDCLIENTE}" >
                </option>
            </th:block>
        </select><br>

        


        <div class="d-flex justify-content-between">
            <input type="submit" value="Guardar" class="btn btn-primary">
            <a th:href="@{/usuariosEmpleados}" class="btn btn-primary">Cancelar</a>
        </div>
    </form>
    </div>

</body>

</html>