<!DOCTYPE html>
<html>

<head>
    <title>Lista de Cuentas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="text-center">
        <h1>Lista de Cuentas</h1>

        <!-- Mensaje de error -->
        <div th:if="${error}" class="alert alert-danger" role="alert">
            <p th:text="${error}"></p>
        </div>

        <form th:action="@{cuentas}" method="get">
            <div class="input-group input-group-sm mb-2 justify-content-center">
                <input class='w-25' id="txtSearch" type="number" name="IDGERENTE">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary">Buscar por IDGERENTE</button>
                </div>
            </div>
        </form>
        <br />


        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>IDCuenta</th>
                    <th>TipoCuenta</th>
                    <th>Saldo</th>
                    <th>Estado Cuenta</th>
                    <th>Fecha última Transacción</th>
                    <th>IDCliente</th>
                    <th>IDGerente</th>
                   
                </tr>
            </thead>
            <th:block th:each="cuenta : ${cuentas}">
                <tr>
                    <td th:text="${cuenta.IDCUENTA}"></td>
                    <td th:text="${cuenta.TIPOCUENTA}"></td>
                    <td th:text="${cuenta.SALDO}"></td>
                    <td th:text="${cuenta.ESTADOCUENTA}"></td>
                    <input type="hidden" name="estado" th:value="${cuenta.ESTADOCUENTA}">
                    <td th:text="${cuenta.FECHAULTIMATRANSACCION}"></td>
                    <td th:text="${cuenta.IDCLIENTE.IDCLIENTE}"></td>
                    <td th:text="${cuenta.IDGERENTE}"></td>
                    <td>
                        <a th:href="@{cuentas/{id}/edit(id=${cuenta.IDCUENTA}, estado = ${cuenta.ESTADOCUENTA})}">Editar</a>
                    </td>
                </tr>
            </th:block>

        </table>
        <div>
            <a th:href='@{/}' class="btn btn-primary">Volver Atrás</a>
        </div>
        <br />

    </div>
</body>

</html>