<!DOCTYPE html>
<html>

<head>
    <title>Lista de Cuentas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="text-center">
        <h1>Lista de Cuentas</h1>

        <!-- Mensaje de error -->
        <div th:if="${error}" class="alert alert-danger" role="alert">
            <p th:text="${error}"></p>
        </div>

        <div class="container w-25">
            <div class="card border border-2 mx-auto">
                <h5 class="card-header" role='button' id="headingOne">
                    <a href="@{/cuentas(tipo='Cliente', IDEMP=${IDEMPA})}" class="collapsed d-block" data-toggle="collapse" data-target="#busqueda">
                        Búsqueda avanzada
                    </a>
                </h5>
                <div id="busqueda" class="collapse">
                    <form th:action="@{cuentas}" method="get">
                        <label class="col-form-label">Tipo de Cuenta:</label>
                        <input class="form-control" type="text" id="TipoCF" name="TipoCF" />
        
                        <label class="col-form-label">Saldo Mínimo:</label>
                        <input class="form-control" type="number" id="saldoMin" name="saldoMin" placeholder="Saldo mínimo" />
        
                        <label class="col-form-label">Saldo Máximo:</label>
                        <input class="form-control" type="number" id="saldoMax" name="saldoMax" placeholder="Saldo máximo" />

                        <label for="FECHAULTIMATRANSACCION" class="form-label">Fecha Última Transacción:</label>
                        <input class="form-control" type="date" id="FECHAULTIMATRANSACCION" name="fechaUltima">
                        <input type="hidden" name="tipo" th:value="${tipoA}" />
                        <input type="hidden" name="IDEMP" th:value="${IDEMP}" />
                        
                        <div th:if="${tipo == 'GerenteGeneral'}">
                        <label class="col-form-label" for="IDCLIN">ID Clientes:</label>
                        <select class="form-control" id="IDCLIN" name="IDCLIN">
                            <option value=""></option>
                            <th:block th:each="cliente : ${clientes}">
                                <option th:value="${cliente.IDCLIENTE}" th:text="${cliente.IDCLIENTE}"></option>
                            </th:block>
                        </select><br>
                        </div>

        
                        

        
                        <div class="text-center">
                            <button type="submit" class="btn btn-secondary">Buscar</button>
                        </div>
                        <br />
                    </form>
                </div>
            </div>
        </div>
            
      
          


        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>IDCuenta</th>
                    <th>TipoCuenta</th>
                    <th>Saldo</th>
                    <th>Estado Cuenta</th>
                    <th>Fecha última Transacción</th>
                    <th>IDCliente</th>
                    <th>IDGerente</th>
                   
                </tr>
            </thead>
            <th:block th:each="cuenta : ${cuentas}">
                <tr>
                    <td th:text="${cuenta.IDCUENTA}"></td>
                    <td th:text="${cuenta.TIPOCUENTA}"></td>
                    <td th:text="${cuenta.SALDO}"></td>
                    <td th:text="${cuenta.ESTADOCUENTA}"></td>
                    <input type="hidden" name="estado" th:value="${cuenta.ESTADOCUENTA}">
                    <td th:text="${cuenta.FECHAULTIMATRANSACCION}"></td>
                    <td th:text="${cuenta.IDCLIENTE.IDCLIENTE}"></td>
                    <td th:text="${cuenta.IDGERENTE}"></td>
                    <td>
                        <a th:href="@{cuentas/{id}/edit(id=${cuenta.IDCUENTA}, estado = ${cuenta.ESTADOCUENTA}, gerente = cuenta.IDGERENTE)}">Editar</a>
                    </td>
                </tr>
            </th:block>

        </table>
        <div>
            <a th:href='@{/}' class="btn btn-primary">Volver Atrás</a>
        </div>
        <br />

    </div>
</body>

</html>