<!DOCTYPE html>
<html>

<head>
    <title>Extracto de Cuenta</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="container mt-4">
        <h1 class="text-center" th:text="'Extracto de Cuenta ' + ${idCuenta}">Extracto de Cuenta</h1>

        <div class="card my-4">
            <div class="card-header">
                <a href="#searchCollapse" class="d-block" data-toggle="collapse" aria-expanded="true" aria-controls="searchCollapse">
                    Búsqueda Avanzada
                </a>
            </div>
            <div id="searchCollapse" class="collapse">
                <div class="card-body">
                    <form action="/bancandes/cuentas/bloqueoR" method="get">
                        <div class="form-group">
                            <label for="idCuenta">Número de cuenta:</label>
                            <input type="number" class="form-control" id="idCuenta" name="idCuenta" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Consultar</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row my-4" th:if="${saldoI != null}">
            <div class="col-6">
                <h3>Saldo Inicial:</h3>
                <p th:text="${saldoI}">0</p>
            </div>
            <div class="col-6 text-right">
                <h3>Saldo Final:</h3>
                <p th:text="${saldoF}">0</p>
            </div>
        </div>
        

        <div class="mt-5" th:if="${Consignaciones != null}">
            <h2>Consignaciones y Retiros</h2>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Fecha</th>
                        <th>Monto</th>
                        <th>Tipo de Operación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="op : ${Consignaciones}">
                        <td th:text="${op[1]}"></td> <!-- Fecha -->
                        <td th:text="${op[2]}"></td> <!-- Monto -->
                        <td th:text="${op[3]}"></td> <!-- TipoOC -->
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mt-5" th:if="${transferencias != null}">
            <h2>Transferencias</h2>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Fecha</th>
                        <th>Monto</th>
                        <th>Tipo de Transferencia</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="trans : ${transferencias}">
                        <td th:text="${trans[1]}"></td> <!-- Fecha -->
                        <td th:text="${trans[2]}"></td> <!-- Monto -->
                        <td th:text="${trans[3]}"></td> <!-- Tipo de Transferencia -->
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="my-4">
            <a href="/" class="btn btn-primary">Volver Atrás</a>
        </div>
    </div>
</body>

</html>
