<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BancAndes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="centrado-vertical-horizontal">
        <img th:src="@{/images/usuario.jpg}" width="250" alt="Icono de Usuario">
        <h1>BancAndes</h1>
        <div class="subtitulo">¿Qué tipo de usuario eres?</div>
        <div>
            <a th:href="@{/clientes}" class="blue-button">Cliente</a>
            <a th:href="@{/usuariosEmpleados}" class="blue-button">Empleado</a>
        </div>
    </div>
</body>
</html>