
<!DOCTYPE html>
<html>
<head>
    <title>Bancandes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container mx-auto w-25">

    <h1>Bancandes</h1>
    <img th:src="@{/images/usuario.jpg}" >
    <div class="subtitulo">¿Qué tipo de usuario eres?</div>

    <div>
        <a th:href="@{/usuariosClientes}" class="btn btn-primary">Cliente</a>
        <a th:href="@{/usuariosEmpleados}" class="btn btn-primary">Empleado</a>
    </div>
    <br/>

</div>
</body>
</html>