
<!DOCTYPE html>
<html>
<head>
    <title>Bancandes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container mx-auto w-25">

    <h1>Bancandes</h1>
    <div class="subtitulo">¿Qué tipo de operacion del prestamo deseas hacer?</div>

    <div>
        <a th:href="@{/operacionPrestamos/new(tipo='PagarCuota')}" class="btn btn-primary btn-action">Realizar un pago de la cuota mensual</a>
        <a th:href="@{/operacionPrestamos/new(tipo='PagarCuotaExtraordinaria')}" class="btn btn-primary btn-action">Realizar pago de cuota extraordinaria</a>
    </div>
    <br/>

</div>
</body>
</html>